<a href="https://colab.research.google.com/github/menna03/Housing-Project-Data-Cleaning/blob/main/housing_project_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
H = pd.read_excel(r'/content/housing.xlsx')

In [ ]:
H.head()

In [ ]:
H.columns

In [ ]:
#x axses is the row 
#y axses is the columns
H.shape

In [ ]:
# null values in %
H.isna().sum()* 100 / len(H)
#total_bedrooms has most null values as 24% in null

In [ ]:
# null values 
H.isna().sum()

In [ ]:
H.describe()

In [ ]:
S=H['total_rooms'].mean()
print("the  average of totalRooms is",S)
S=H['total_bedrooms'].mean()
print("the  average of totalBedrooms is",S)

In [ ]:
H['ocean_proximity'].value_counts()

In [ ]:
# What is the most frequent ocean proximity? it is  <1H OCEAN

H['ocean_proximity'].mode()

In [ ]:
H.groupby('ocean_proximity').agg({'longitude': ['mean', 'median'],
                                  'latitude':['mean', 'median'],
                                     'housing_median_age': ['mean', 'median'],
                                     'total_rooms': ['mean', 'median'],
                                     'total_bedrooms': ['mean', 'median'],                                  
                                     'population': ['mean', 'median'],                                   
                                     'median_income': ['mean', 'median'],                        
                                   'median_house_value': ['mean', 'median']
                                     })

In [ ]:
H.groupby('ocean_proximity').describe()

In [ ]:
import matplotlib.pyplot as plt # library for visualization
import seaborn as sns # library for visualization
sns.set() # this command sets the seaborn chart style as the default

In [ ]:
plt.bar(x = H["ocean_proximity"],
        height = H["population"], 
        color = "midnightblue")
plt.show() 
#  this grafe is inacuret as island is very low in this population and it cant relly be consderd and <1Hocean is hight so we cant say that island has the lowest population

# Assignmen2_MLWorkshop_GDSC

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
H.head()

In [ ]:
H.duplicated().sum()
# ther are no duplicated

In [ ]:
H.shape

In [ ]:
H.isnull().sum()

In [ ]:
H=H.dropna(subset =['housing_median_age','population','households'])

In [ ]:
H = H.drop(labels="gender", axis=1)

In [ ]:
H.isna().sum()* 100 / len(H)

In [ ]:
H.shape

looks like we have a lot of missing data so we will drop the colums that has the lowest persent of mising data (housing_median_age,population ,households,median_income  )
we will drop those as it is less than 15% mising data 
we will drop gender also as we dont need it

In [ ]:
sns.set_palette("husl")
sns.displot(data=H, x="median_income", kind="kde")

In [ ]:
H["median_income"].fillna(H["median_income"].median(), inplace=True)

In [ ]:
H["median_income"].isnull().sum()

In [ ]:
sns.set_palette("husl")
sns.displot(data=H, x="median_income", kind="kde")

In [ ]:
sns.set_palette("husl")
sns.displot(data=H, x="total_bedrooms", kind="kde")

In [ ]:
H["total_bedrooms"].fillna(H["total_bedrooms"].mean(), inplace=True)

In [ ]:
H["total_bedrooms"].isnull().sum()

In [ ]:
sns.set_palette("husl")
sns.displot(data=H, x="total_bedrooms", kind="kde")

In [ ]:
H.isna().sum()* 100 / len(H)

In [ ]:
for col in H.columns:
    if H[col].dtype != 'object':
        bp = sns.boxplot(data = H, x = col)
        plt.show()

In [ ]:
H.drop(H[H['population']>15000].index, axis = 0, inplace =True)

In [ ]:
H.drop(H[H['median_income']>14].index, axis = 0, inplace =True)

In [ ]:
H.drop(H[H['total_bedrooms']>4000].index, axis = 0, inplace =True)

In [ ]:
for col in H.columns:
    if H[col].dtype != 'object':
        bp = sns.boxplot(data = H, x = col)
        plt.show()

In [ ]:
H.shape

ther were a lot of outliers and we need to delete it so now the data is some what  dosent have so many otlers

In [ ]:
H.dtypes
#households should be int or float

In [ ]:
H["households"]=pd.to_numeric(H["households"], errors='coerce')

In [ ]:
H.dtypes

In [ ]:
H.shape

now the data is clean it has no  duplicated and minimum amount of outliers and all columns has the right data type